*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header .main-header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    position: relative;
}
.main-header .fa-magnifying-glass{
    position: absolute;
    left: 120px;
    top: 15px;
    color: rgba(0, 0, 0, 0.301);
}
#username {
    border: 3px solid black;
    padding: 10px;
}
.links a{
    text-decoration:none;
    color:black;
    padding: 20PX;
}
.links a:hover {
    color: blueviolet;
}
.links {
    display: flex;
    align-content: center;
    justify-content:center;
}
.links .active {
    color: blueviolet;
}
#notification {
    position: absolute;
    top: -19px;
    right: 129px;
    padding: 3px 5px;
    border-radius: 50%;
    background-color: blueviolet;
    color: white;
}

.main-header #search {
    border: none;
    outline: none;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position:relative;
    top:15px;
    right:15px;
    color:blueviolet;
}

/* end header */

.section1 {
    display: flex;
    background-color: aqua;
    background-size: cover;
    height: 80vh;
    justify-content: space-around;
    align-content: center;
}

.button1{
    color:white;
    outline:none;
    background-color:blueviolet;
    margin-top:20px;
    padding:10px 10px;
    border-radius:10px;
    border:none;
}

.button1:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform:scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.section1 .text1 {
    margin-top: 110px;
}

.section1 .text1 p {
    line-height: 1.5;
    padding-top: 20px;
}

.section1 img {
    padding-top: 50px;
}

/* end section1 */

.section2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    position: relative;
    margin-left:40px;
    margin-bottom: 150px;
}

.section2 .fa-solid{
    color: blueviolet;
    position: relative;
    right: 53px;
    font-size: 35px;
    top: 33px;
}

.section2 p{
    font-size:13px;
    padding-top:20px;
}

/* end section2 */

.section3 {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    margin-bottom: 150px;
}

.section3 img{
width: 280px;
transition-duration:0.3s;
filter:brightness(75%);
vertical-align: middle;
}

.section3 img:hover{
    transform: scale(1.1);
    z-index: 3;
}

.section3 p{
    position: relative;
    bottom: 68px;
    color: white;
    left: 10px;
}

.section3 img {
color: rgba(0, 0, 0, 0.301);
}

.section3 h1{
    position: relative;
    bottom: 68px;
    color: white;
    left: 10px;
}

/* end section3 */

.section4{
    background-color:#eee;
    height: 150vh;
    padding: 10px;
}

.section4 .content {
  display: flex;
  justify-content: center;
  
}

.section4 .content .card {
    background-color: white;
    margin: 10px;
    width: 350px;
    height: 400px;
}
.card .text {
    text-align: center;
    
}

.card .text h4 {
    color: blueviolet;
    padding: 10px;
}

.section4 .content img {
width: 100px;
}

#products {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#products::after {
    content: "";
    width: 0;
    height: 20px;
    width: 50px;
    color: black;
    border-top: 3px solid blueviolet;
    position: relative;
    right: 130px;
    bottom:30px;
}

/* end section4 */

.button2 {
    color: white;
    outline: none;
    background-color: blueviolet;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    margin-left:250px;
}

.button2:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.section5 {
    margin: 60px;
}
.section5 .content {
    display: flex;
    justify-content: space-around;
}
.section5 .content .text {
    margin-left: 30px;
    margin-top: 110px;
}

.section5 h2 {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section5 h2::after{
    content: "";
    width: 0;
    height: 20px;
    width: 50px;
    color: black;
    border-top: 3px solid blueviolet;
    position: relative;
    right: 70px;
    bottom:30px;
}

.section5 h3{
    font:bold;
    font-size:25px;
    color:blueviolet;
    margin-left:150px;
    margin-bottom:5px;
}

.section5 p{
    margin-left:150px;
}

.section5 h6{
    margin-left:190px;
    margin-bottom:20px;
}

.section5 span{
    color:blueviolet;
}

/* end section */

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 20px;
  margin-bottom: 100px;
}


.footer ul {
    list-style: none;
}

.footer ul li {
    padding: 10px;
}

.footer ul li fa-solid{
    color:blueviolet;
}

.footer h3 {
    margin-bottom: 10px;
}

.footer .left2 {
    margin-top: 30px;
}
.footer .left1 {
    margin-top: 30px;
}
.footer img {
    padding: 20px 0;
}
.footer h4 {
    color: blueviolet;
    padding-bottom: 10px;
}
.footer ul li .fa-solid {
    color: blueviolet;
    padding-right: 10px;
}
.button3 {
    color: white;
    outline: none;
    background-color: blueviolet;
    margin-top: 15px;
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
}

.end{
    position:absolute;
    width:557px;
    margin-top:300px;
    margin-left:300px;
}



